// =============================================================================
//                                  Front Page
// =============================================================================

section.hero {
  background-color: $dkBlue;
  color: white;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  height: 450px;
  padding-top: 125px;
}
