// =============================================================================
//
// =============================================================================


// Footer

.site-info {
  width: 100%;
  display: block;
  text-align: center;
  color: #bdbdbd;
}
