.project-single-page {
  font-size: 20px;

  h2 {
    font-size: 56px;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }

  .project-tags {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
    img {
      height: 42px;
      width: 42px;
      margin: 0 4px;
    }
  }

  img.project-featured-image {
    float: right;
    width: 400px;
    max-width: 96%;
    margin: 0 0 15px 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    @media screen and (max-width: 767px) {
      float: none;
      display: block;
      margin: 0 auto 20px;
    }
  }

  img.project-screenshot {
    display: block;
    max-width: 96%;
    margin: 20px auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  }

  .project-links {
    margin: 50px auto 30px;
    width: 500px;

    a {
      color: white;
      display: inline-block;
      width: 48%;
      background-color: $orange;
      height: 54px;
      border-radius: 34px;
      text-align: center;
      padding-top: 10px;

      span {
        margin-right: 10px;
      }
    }
    a:hover {
      background-color: #d86855;
    }
    a.live-site {
      margin-right: 4%;
    }
  }
}
