// =============================================================================
//  Shared Theme Styles
// =============================================================================

body {
  background-color: #efeeee;
}

// Images

.img-round {
  border-radius: 50%;
}

.img-center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// Footer

.site-info {
  width: 100%;
  font-weight: 300;
  display: block;
  text-align: center;
  color: #bdbdbd;
}
